@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


@if (Model.ShowRequestId)
{
    <div class="alert-danger" style="border-radius:5px;padding:12px">
    <h1 class="text-danger">Error.</h1>
    <h1 class="text-danger">@Model.ErrorMessage</h1>
</div>

    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}