@model ReservationEditViewModel

@{
    ViewData["Title"] = "Edit Reservation";
}

@if (Model != null)
{
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card rounded-3" style="background-color:#F0F2F5">
            <h1 class="text-center">Edit Reservation</h1>
            <div class="card-body p-4 p-md-5">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <table class="table table-responsive table-hover "
                       style="border-radius: 10px; overflow: hidden;">
                        <thead class="thead-dark">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Select for removal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.CustomersToRemove.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(a=>a.CustomersToRemove[i].FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a=>a.CustomersToRemove[i].LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a=>a.CustomersToRemove[i].PhoneNumber)
                                    </td>
                                    <td>
                                        <input asp-for="CustomersToRemove[i].RemoveFromRes" type="checkbox" class="form-control" />
                                        <input type="hidden" asp-for="CustomersToRemove[i].Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                    <table class="table table-responsive table-hover "
                       style="border-radius: 10px; overflow: hidden;">
                        <thead class="thead-dark">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.SelectedRoomCap - Model.CustomersToRemove.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label asp-for="CustomersToAdd[i].FirstName" class="control-label"></label>
                                        <input asp-for="CustomersToAdd[i].FirstName" class="form-control" />
                                        <span asp-validation-for="CustomersToAdd[i].FirstName" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <label asp-for="CustomersToAdd[i].LastName" class="control-label"></label>
                                        <input asp-for="CustomersToAdd[i].LastName" class="form-control" />
                                        <span asp-validation-for="CustomersToAdd[i].LastName" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <label asp-for="CustomersToAdd[i].PhoneNumber" class="control-label"></label>
                                        <input asp-for="CustomersToAdd[i].PhoneNumber" class="form-control" />
                                        <span asp-validation-for="CustomersToAdd[i].PhoneNumber" class="text-danger"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="justify-content-center text-center">
                        <span asp-validation-for="CustomersToAdd" class="text-danger text-center"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomId" class="control-label">Select Room:</label>
                        <select asp-for="RoomId" asp-items="@Model.Rooms"></select>
                        <span asp-validation-for="RoomId" class="text-danger" style="display:block"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccommodationDate" class="control-label"></label>
                        <input asp-for="AccommodationDate" class="form-control" />
                        <span asp-validation-for="AccommodationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveDate" class="control-label"></label>
                        <input asp-for="LeaveDate" class="form-control" />
                        <span asp-validation-for="LeaveDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HasAllInclusive" class="control-label"></label>
                        <input asp-for="HasAllInclusive" class="form-control" />
                        <span asp-validation-for="HasAllInclusive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HasBreakfast" class="control-label"></label>
                        <input asp-for="HasBreakfast" class="form-control" />
                        <span asp-validation-for="HasBreakfast" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

