@model ReservationEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Reservation</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccommodationDate" class="control-label"></label>
                <input asp-for="AccommodationDate" class="form-control" />
                <span asp-validation-for="AccommodationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDate" class="control-label"></label>
                <input asp-for="LeaveDate" class="form-control" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasAllInclusive" class="control-label"></label>
                <input asp-for="HasAllInclusive" class="form-control" />
                <span asp-validation-for="HasAllInclusive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasBreakfast" class="control-label"></label>
                <input asp-for="HasBreakfast" class="form-control" />
                <span asp-validation-for="HasBreakfast" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CustomerToRemoveId" class="control-label"></label>
                <input asp-for="CustomerToRemoveId" class="form-control" />
                <span asp-validation-for="CustomerToRemoveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerToAddId" class="control-label"></label>
                <input asp-for="CustomerToAddId" class="form-control" />
                <span asp-validation-for="CustomerToAddId" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="txtPremium" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                <asp:RegularExpressionValidator runat="server" ErrorMessage="Decimal Only" ID="txtregpre" ValidationGroup="Insert"
                                                ControlToValidate="txtPremium"
                                                ValidationExpression="^[1-9][\.\d]*(,\d+)?$"></asp:RegularExpressionValidator>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>            
        </form>
    </div>
    <section>
        <h4>
            Customers:
        </h4>
        <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OutputCustomers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </section>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

